/AlgorithmA.class
/CatalogueA.class
/ColumnA.class
/ColumnDataTypeA.class
/ConstantA.class
/ConstraintA.class
/DerivedColumnA.class
/InputA.class
/OutputA.class
/PythonScriptExecutor.class
/ReferencedColumnA.class
/ResourceA.class
/ShemaTableA.class
/TablesA.class
